In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
RESULTS_PATH = 'results/part2a'
time_used = 'real'

In [3]:
rows = ['dedup', 'blackscholes', 'ferret', 'freqmine', 'canneal', 'splash2x-fft']
cols = ['cpu', 'l1d', 'l1i', 'l2', 'llc', 'membw']

In [4]:
results = pd.DataFrame(index=['ferret', 'splash2x-fft', 'freqmine', 'blackscholes', 'dedup', 'canneal'])
times_none = []
for job_dir in os.listdir(os.path.join(RESULTS_PATH, 'ibench-none')):
    job_path = os.path.join(RESULTS_PATH, 'ibench-none', job_dir)
    measurements = pd.read_csv(os.path.join(job_path, 'measurements.csv'))
    times = measurements[time_used].mean()
    times_none.append(times)
times_none = np.array(times_none)

for fif in os.listdir(RESULTS_PATH):
    if_name = fif[len('ibench-'):]
    if if_name == 'none':
        continue
    data = []
    for job_dir in os.listdir(os.path.join(RESULTS_PATH, fif)):
        job_path = os.path.join(RESULTS_PATH, fif, job_dir)
        measurements = pd.read_csv(os.path.join(job_path, 'measurements.csv'))
        times = measurements[time_used].mean()
        data.append(times)
    results[if_name] = data / times_none

In [5]:
results = results.reindex(rows)[cols]
results

                   cpu       l1d       l1i        l2       llc     membw
dedup         1.620536  1.314242  2.295019  1.328482  2.237592  1.780368
blackscholes  1.417001  1.430597  1.910515  1.448058  1.737780  1.483150
ferret        2.007840  1.095878  2.841055  1.071096  2.741848  2.280709
freqmine      2.032691  1.042570  2.051151  1.051676  1.921436  1.672223
canneal       1.525279  1.509478  1.716663  1.499931  2.308233  1.635544
splash2x-fft  1.340833  1.354881  1.943171  1.315712  1.978090  1.665707

In [6]:
results.round(1).to_latex('part2a.tex')

In [14]:
results

,l1d,none,l2,membw,l1i,llc,cpu
ferret,13.8942,12.6786,13.5800,28.9162,36.0206,34.7628,25.4566
splash2x-fft,11.4772,8.4710,11.1454,14.1102,16.4606,16.7564,11.3582
freqmine,6.7546,6.4788,6.8136,10.8340,13.2890,12.4486,13.1694
blackscholes,366.5478,256.2202,371.0216,380.0130,489.5126,445.2544,363.0642
dedup,79.8928,60.7900,80.7584,108.2286,139.5142,136.0232,98.5124
canneal,22.0100,14.5812,21.8708,23.8482,25.0310,33.6568,22.2404